table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}


tr {
  background-color: white;
}
/*
tr:nth-child(even) {
  background-color: #f2f2f2;
}
*/

body, input,  form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Optional styles for the content inside the center container */
.center {
  max-width: 800px;
  text-align: center;
}

tr.light-red {
  background-color: lightcoral;
}

tr.light-green {
  background-color: lightgreen;
}

body {
  background-color: orange;
}